.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  box-sizing: border-box;
  position: relative;
  background-color: var(--color-2); /* or a neutral bg */
  color: var(--text-light); /* or override directly */
  text-align: center;
}

@media (max-height: 741px) {
  .hero{
    height: auto;        /* let it grow naturally */
    min-height: 742px;   /* optional: avoid being too tiny */
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 100%;
  max-width: 600px;
}

.title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.accent {
  font-weight: 700;
  font-size: 4rem;
  display: block;
}

.cta {
  font-size: 1.425rem;
  opacity: 0.7;
  max-width: 500px;
}

.info {
  display: block;
  font-size: 1rem;
  opacity: 0.7;
  margin-top: 1rem;
}

.arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0;
  opacity: 0.7;
}

.arrow svg + svg {
  margin-top: -25px;
}

@media (min-width: 768px) {
  .title {
    margin-top: 10rem;
  }
}


